<footer>
  <p class="title"><a href="https://pre.careyourspets.duckdns.org/">CareYourPets</a></p>
  <div class="contact">
    <img src="../../../assets/img/Instagram-icon.svg" alt="Instagram">
    <img src="../../../assets/img/Phone-icon.svg" alt="Télefono">
    <img src="../../../assets/img/Location-icon.svg" alt="Ubicación">
    <img src="../../../assets/img/Email-icon.svg" alt="Correo">
  </div>
  <div class="politicas-info-legal">
    <p>Información legal</p>
    <span></span>
    <p>Política de privacidad</p>
  </div>
</footer>
