.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  height: 100px;
  padding: 38px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li.active {
  background-color: rgba(13, 131, 240, 0.2);
  border-bottom: 2px solid #0D83F0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #444;
  font-weight: 400;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #0D83F0;
}

.nav-links li.active a {
  color: #0D83F0;
}
