
<form>
 <div class="">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="Correo Electronico"
      
    />
    <label for="">Email address</label>
  </div>
  <div class="">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Contraseña "
    />
    <label for="floatingPassword">Password</label>
  </div>

  <div class="">
    <label>
      <input type="checkbox" value="remember-me" /> Guarda mis Datos 
    </label>
  </div>
  <button class="" type="submit">
    Entrar
  </button>
</form>

 <p>
  <a href="/">Recuperar contraseña</a>
</p>