<div class="container-login text-center">
  <main class="form-signin">
    <form [formGroup]="miFormValidado" (submit)="enviarFormulario()">
      <img
        class="mb-4"
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <!-- nombre -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Enter your name"
          formControlName="name"
        />
        <label for="floatingInput">Name</label>
        <div *ngIf="nameForm?.errors?.['pattern'] && nameForm?.touched">
          <p>The name format is not valid</p>
        </div>
      </div>
      <!-- email -->
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
        <div *ngIf="emailForm?.errors?.['pattern'] && emailForm?.touched">
          <p>The email format is not valid</p>
        </div>
      </div>
      <!-- adress -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Enter your Adress"
          formControlName="adress"
        />
        <label for="floatingInput">Address</label>
        <div *ngIf="addressForm?.errors?.['pattern'] && addressForm?.touched">
          <p>The adress format is not valid</p>
        </div>
      </div>
      <!-- phone -->
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="Enter your phone"
          formControlName="phone"
        />
        <label for="floatingInput">Phone</label>
        <div *ngIf="phoneForm?.errors?.['pattern'] && phoneForm?.touched">
          <p>The adress format is not valid</p>
        </div>
      </div>
      <!-- password -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
        <div *ngIf="passwordForm?.errors?.['pattern'] && passwordForm?.touched">
          <p>The password format is not valid</p>
        </div>
      </div>
      <!-- confirmPassword -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="confirmPassword"
        />
        <label for="floatingPassword">Confirm Password</label>
        <div *ngIf="confirmPasswordForm?.errors?.['pattern'] && confirmPasswordForm?.touched">
          <p>The password format is not valid</p>
        </div>
      </div>


      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="miFormValidado.invalid">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
  </main>
</div>
