<form>
    <div class="">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Nombre Completo"
      />
    </div>
    <div class="">
      <input
        type="email"
        class="form-control"
        id="floatingPassword"
        placeholder="Correo Electronico"
      />
    </div>
  
    <div class="">
        <select>
            <option value="opcion1">Provincias</option>
            <option value="opcion2">Opción 1</option>
            <option value="opcion3">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
    </div>

    <div class="">
        <select>
            <option value="opcion1">Ciudades</option>
            <option value="opcion2">Opción 1</option>
            <option value="opcion3">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
    </div>
    <div class="">
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Direccion"
        />
      </div>
      <div class="">
        <input
          type="tel"
          class="form-control"
          id="tel"
          placeholder="Telefono"
        />
      </div>
      <div class="">
        <input
          type="tel"
          class="form-control"
          id="password"
          placeholder="Contraseña"
        />
      </div>
      <div class="">
        <input
          type="tel"
          class="form-control"
          id="password"
          placeholder="Confirmacion de Contraseña"
        />
      </div>
    <button class="" type="submit">
      Entrar
    </button>
  </form>
