<div class="main-content">
  <div class="container flex-grow-1">
    <!-- Contenido principal -->
    <div class="header mt-5">
      <h2>¡Bienvenido!</h2>
      <div class="ver-mas">
        <a routerLink="/veterinarias">Ver más</a>
        <span class="material-symbols-outlined"> arrow_forward </span>
      </div>
    </div>
    <veterinaries-card
      [showSkeleton]="showSkeleton"
      [veterinaries]="veterinaries"
      [showPaginator]="false"
    ></veterinaries-card>
    <messages [message]="message" *ngIf="!showSkeleton && noInfo"></messages>
  </div>
  <!-- Footer fuera del contenedor -->
  <app-footer></app-footer>
</div>
