.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.ver-mas {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4b72c2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ver-mas a {
  text-decoration: none;
  color: #4b72c2;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 20px;
}

app-footer {
  flex-shrink: 0;
}

