<div class="container-login">
  <div class="container-img-pet">
    <img
      class="img-pet"
      src="../../../assets/img/d83e9cc054f69e9f1c1638d681d76656.png"
      alt="ImgPet"
    />
  </div>

  <div class="container-form">
    <div class="container-widget">
      <h1 class="title-login">Bienvenido a CareYoursPets</h1>
      <p class="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet qui
        numquam fuga repellat nemo, error, debitis vero sint voluptas mollitia
        ducimus vel quas minima magnam vitae magni odit nulla rerum.
      </p>

      <div class="forms">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="nav-link" (click)="handleForms()" [class.active-tab]="!mostrarRegistro">
              Iniciar Sesión
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="handleForms()" [class.active-tab]="mostrarRegistro">
              Registrarse
            </button>
          </li>
        </ul>
        <app-login *ngIf="!mostrarRegistro"></app-login>
        <app-register *ngIf="mostrarRegistro"></app-register>
      </div>
    </div>
  </div>
</div>
