button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 232px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 11px;
  border: 1px solid #fff;
  background: #007bff;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

button:hover {
  background: #0069d9;
}


button > span {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
